<nav aria-label="breadcrumb" class="bb-breadcrumb">
    <% breadcrumb.forEach((item, index) => { %>
        <% if (index > 0) { %><span class="bb-breadcrumb-sep">›</span><% } %>
        <% if (index === breadcrumb.length - 1) { %>
            <span class="bb-breadcrumb-item active"><%= item.text %></span>
        <% } else { %>
            <a href="<%= item.url %>" class="bb-breadcrumb-item"><%= item.text %></a>
        <% } %>
    <% }); %>
</nav>
