<footer>
    <div class="container">
        <p>&copy; <%= new Date().getFullYear() %> Bold Brew | <a href="https://github.com/Valkyrie00/bold-brew" target="_blank" rel="noopener noreferrer">GitHub</a></p>
    </div>
</footer>